*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/android_prayer_book/build
/android_prayer_book/local.properties
/android_prayer_book/.idea/workspace.xml
/android_prayer_book/.idea/libraries
/iphone_prayer_book/Pauline Prayer Book/Pauline Prayer Book.xcodeproj/
.externalNativeBuild
/print
/nechrology
keystore.properties
*.mp3
*.apk
