<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <menuitem title="Modlitwy poranne" doc="morning.html" />
    <menuitem title="Modlitwy południowe" doc="afternoon.html" />
    <menuitem title="Drugie rozmyślanie" doc="meditation.html" />
    <menuitem title="Modlitwy wieczorne" doc="evening.html" />
    <menuitem title="Modlitwa na zakończenie dnia" doc="night.html" />
    <menuitem title="Modlitwa przed snem" doc="repose.html" />
    <menuitem title="Modlitwy w refektarzu" doc="refectory.html" />

    <menu title="Życie modlitwy i ofiary z chrystusem">
        <menuitem title="Modlitwy adoracyjne" doc="adoration.html" />
        <menuitem title="Akty strzeliste" doc="divine-praises.html" />
        <menuitem title="Akt komunii duchowej" doc="spirtual-communion.html" />
        <menuitem title="Przygotowanie do Mszy Świętej" doc="before-holy-mass.html" />
        <menuitem title="Dziękczynienie po Mszy Świętej" doc="after-holy-mass.html" />
        <menuitem title="Modlitwy w różnych potrzebach" doc="special-occasions.html" />
        <menuitem title="Modlitwy do chrystusa ukrzyżowanego" doc="christ-crucified.html" />
        <menuitem title="Litanie" doc="litanies.html" />
    </menu>

    <menu title="Maryja - Matka i Patronka Zakonu">
        <menuitem title="Litania do Najświętszej Maryi Panny" doc="loreto.html" />
        <menuitem title="Modlitwa Św. Bernarda" doc="memorare.html" />
        <menuitem title="Litania do Najświȩtszej Maryi Panny «Klȩczki Jasnagórskie»" doc="kleczki.html" />
        <menuitem title="Antyfony Maryjne" doc="marian-antiphons.html" />
        <menuitem title="Różaniec Święty" doc="rosary.html" />
        <menuitem title="Akt całkowitego oddania się Najświętszej Maryi Pannie" doc="consecration.html" />
        <menuitem title="Wzywając wstawiennictwa niepokalanego poczęcia Najświętszej Maryi Panny" doc="mary-invocation.html" />
        <menuitem title="Akt wynagrodzenia niepokalanemu sercu Maryi" doc="mary-expiation.html" />
        <menuitem title="Synowskie i apostolskie poświęcenie się sercu Maryi" doc="consecration-heart-mary.html" />
        <menuitem title="Modlitwa do Królowej pustelników za Zakon" doc="queen-hermits.html" />
        <menuitem title="Akt oddania Maryi - Królowej i opiekunce Zakonu" doc="queen-order.html" />
        <menuitem title="Akt oddania" doc="act-self-offering.html" />
        <menuitem title="Akt poświęcenia klerykatu Zakonu Paulinów Jasnogórskiej Królowej" doc="seminarians-consecration.html" />
        <menuitem title="Zaofiarowanie się Najświętszej Maryi Pannie" doc="act-self-offering-bvm.html" />
        <menuitem title="Ponowienie przymierza z Maryją - Matką i opiekunką Zakonu" doc="renewal-covenant.html" />
        <menuitem title="Akt poświęcenia Zakonu Matce Najświętszej" doc="consecration-order.html" />
    </menu>

    <menu title="Łącząc się z chórami aniołów">
        <menuitem title="Wezwania do aniołów stróżów" doc="invocations-angels.html" />
        <menuitem title="Litania do anioła stróża" doc="litany-guardian-angels.html" />
        <menuitem title="Litania do Św. Michała Archanioła" doc="litany-michael-angel.html" />
    </menu>

    <menu title="Kontemplując Boga w świętych">
        <menuitem title="Kontemplując Boga w świętych" doc="saints.html" />
        <menuitem title="Święty Józef" doc="saint-joseph.html" />
        <menuitem title="Święty Paweł Pierwszy Pustelnik" doc="saint-paul.html" />
        <menuitem title="Nowenna do świętego Pawła" doc="saint-paul-novena.html" />
        <menuitem title="Pieśni o świętym Pawle" doc="saint-paul-hymns.html" />
        <menuitem title="Błogosławiony Euzebiusz" doc="blessed-eusebius.html" />
        <menuitem title="Święty Augustyn" doc="saint-augustine.html" />
        <menuitem title="Święty Kazimierz" doc="saint-casimir.html" />
        <menuitem title="Święta Jadwiga" doc="saint-hedwig.html" />
    </menu>

    <menuitem title="Modlitwy o powołania" doc="vocations.html" />

    <menuitem title="Rozmyślanie" doc="method-meditation.html" />
    <menuitem title="Propozycja Przebiegu Lectio Divina" doc="lectio-divina.html" />

    <menu title="Modlitwy po Łacinie">
        <menuitem title="Pacierz" doc="prayers-la.html" />
        <menuitem title="Modlitwy Codzienne" doc="morning-la.html" />
        <menuitem title="Antyfony Maryjne" doc="mary-la.html" />
        <menuitem title="Litania do Świętego Pawła Pustelnika" doc="paul-la.html" />
        <menuitem title="Modlitwy w Refektarzu" doc="refectory-la.html" />
        <menuitem title="Błogosławieństwo Biskupa" doc="bishop-la.html" />
        <menuitem title="Błogosławieństwo Kapłana" doc="priest-la.html" />
    </menu>

</menu>
