<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <menuitem title="Ranné modlitby" doc="morning.html" />
    <menuitem title="Poludňajšie modlitby" doc="afternoon.html" />
    <menuitem title="Druhá meditácia" doc="meditation.html" />
    <menuitem title="Večerné modlitby" doc="evening.html" />
    <menuitem title="Modlitba na záver dňa" doc="night.html" />
    <menuitem title="Modlitba pred spaním" doc="repose.html" />
    <menuitem title="Modlitba v refektóriu" doc="refectory.html" />
    <menuitem title="Litánie k svätému Pavlovi" doc="saint-paul.html" />
    <menuitem title="Prosby k Anjelom strážnym" doc="angels.html" />
    <menuitem title="Litánie k svätému Jozefovi" doc="joseph.html" />
    <menuitem title="Litánie k Najsvätejšiemu menu Ježiš" doc="name-of-jesus.html" />
    <menuitem title="Litánie k Božskému srdcu Ježišovmu" doc="sacred-heart.html" />
    <menuitem title="Litánie k Predrahej krvi Kristovej" doc="precious-blood.html" />
    <menuitem title="K piatim ránam Ježišovým" doc="five-wounds.html" />
    <menuitem title="Výzvy o pokoru" doc="humility.html" />
    <menuitem title="Loretánske litánie" doc="loreto.html" />
    <menuitem title="Jasnohorská pobožnosť – „Klęczki”" doc="kleczki.html" />
</menu>
